body {
    font-family: 'Roboto', sans-serif;
    margin: 0px auto;
    padding: 0px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 480px;
    height: 380px;
}

button {
    background-color: #3882f6;
    padding: 10px 30px;
    border-radius: 1em;
    color: white;
    font-weight: bold;
}

/* -----header------ */

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 20px 100px;
}

.header-left {
    font-size: 24px;
    color: #F9FAF8;
}

.header-right {
    display: flex;
    
    font-size: 18px;
}

.header-right a {
    color: #E5E7EB;
}

/* ------Hero------ */

.hero {
    display: flex;
    flex-wrap: wrap;
    background-color: #1f2937;
    padding: 80px 100px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    /* flex-wrap: wrap; */
    text-align: left;
    /* flex-shrink: 2; */
}

.hero-right {
    display: flex;
    /* flex-shrink: 1; */
    margin: 0 90px 0 20px;
}

.hero-left p {
    margin: 0 0 10px 0;
    padding: 0;
}

.hero-left button {
    width: 110px;
    text-align: center;
    display: block;
    padding: 10px;
}
/* ------Cards------ */

.information {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin
}

.cards img {
    height: 200px;
    width: 200px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards figure {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
    margin: 0 16px;
    text-align: center;
}

.cards figure img {
    border-radius: 1em;
    border: solid 4px #3882f6;
}
