body {
    font-family: 'Roboto', sans-serif;
    margin: 0px auto;
    padding: 0px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 480px;
    height: 380px;
}

button {
    background-color: #3882f6;
    padding: 10px 30px;
    border-radius: 1em;
    color: white;
    font-weight: bold;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}


/* -----header------ */

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 100px 20px 100px;
}

.header-left {
    font-size: 24px;
    color: #F9FAF8;
}

.header-right {
    display: flex;
    gap: 16px;
    font-size: 18px;
}

.header-right a {
    color: #E5E7EB;
}

/* ------Hero------ */

.hero {
    display: flex;
    flex-wrap: wrap;
    background-color: #1f2937;
    padding: 80px 100px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    text-align: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.hero-right {
    display: flex;
    margin: 0 90px 0 20px;
}

.hero-left p {
    margin: 0 0 10px 0;
    padding: 0;
}

.hero-left button {
    width: 110px;
    text-align: center;
    display: block;
    padding: 10px;
}
/* ------Cards------ */

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 60px;
    padding: 20px 20px 0 60px
}

.cards img {
    height: 200px;
    width: 200px;
}

.cards {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.cards figure {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 16px;
    text-align: center;
}

.cards figure img {
    border-radius: 1em;
    border: solid 4px #3882f6;
}

/* ------Quote------ */

.quote {
    /* text-align: center; */
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    /* justify-content: center; */
    background-color: #e5e7eb;
    padding: 90px 200px 70px 200px;
}

.quote blockquote {
    margin: 0;
    text-align: left;
    
}

.quote p {
    margin: 0.5em 2em 0 0 ;
    margin-right: 2em;
    align-self: flex-end;
    text-align: left;
    font-weight: 900;
}   

/* ------Action------ */

.action-container {
    padding: 80px 100px;
}

.action {
    background-color: #3882f6;
    color: white;
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1em;
}
.action p, .action h4 {
    margin: 0;
    padding: 0;
}

.action button {
    border: 2px solid white;
    border-radius: 1em;
    padding: 0.5em 2.3em;
}

/* ------Footer------ */

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}